* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes anim-menu-btn {
  from {
    color: #e6c79c;
  }
  to {
    color: #b4a6ab;
  }
}

@keyframes anim-menu-btn {
  from {
    color: #e6c79c;
  }
  to {
    color: #b4a6ab;
  }
}

header {
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .burger-btn {
  cursor: pointer;
  height: 20px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 28px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .burger-btn_menu {
  background: #f2f4f3;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .burger-btn_menu::before {
  background: #f2f4f3;
  content: '';
  height: 3px;
  position: absolute;
  top: -8px;
  width: 28px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .burger-btn_menu::after {
  background: #f2f4f3;
  content: '';
  height: 3px;
  position: absolute;
  top: 8px;
  width: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .burger-btn_menu.open {
  background: transparent;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

header .burger-btn_menu.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

header .burger-btn_menu.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
  width: 28px;
}

header .nav {
  left: 0;
  opacity: 0.98;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100vw;
}

header .nav.open {
  visibility: visible;
}

header .nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0a0908;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  overflow: hidden;
  padding: 0, 1rem;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .nav-menu.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

header .nav-menu_item {
  -webkit-transform: translate(100vw);
          transform: translate(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .nav-menu_item.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

header .nav-menu_link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-menu_item:nth-child(1) {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
}

.nav-menu_item:nth-child(2) {
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

.nav-menu_item:nth-child(3) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

.nav-menu_item:nth-child(4) {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}

.nav-menu_item:nth-child(5) {
  -webkit-transition-delay: 0.62s;
          transition-delay: 0.62s;
}

.nav-menu_item:nth-child(6) {
  -webkit-transition-delay: 0.72s;
          transition-delay: 0.72s;
}

.nav-menu_item:nth-child(7) {
  -webkit-transition-delay: 0.82s;
          transition-delay: 0.82s;
}

.nav-menu_item:nth-child(8) {
  -webkit-transition-delay: 0.92s;
          transition-delay: 0.92s;
}
/*# sourceMappingURL=Header.css.map */