@import '../config';

.contact {
    height: 100%;
    padding-top: 8vh;
    padding-left: .5rem;
    padding-right: .5rem;
    overflow: hidden;
    align-items: center;
    text-align: center;

    &_title {
        @include secondary-base;
        padding-bottom: 5vh;
        border-bottom: 2px solid set-text-color($primary-color);

        &:hover {
            @include hover-color-animation;
        }
    }

    &_body {
        padding-top: 5vh;
        background: $primary-color;
    }

    &_body-item {
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        font-size:x-large;
    }

    &_box {
        padding-top: 5vh;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        &_item {
            border-style:groove;
            border-color: $accent-color;
            border-width: .2rem;
            padding-top: 1rem;
            padding-bottom: 2rem;

            &_text {
                font-family: Orbitron, 'Times New Roman', Times, serif;
                font-size: 1.2rem;
                font-weight: 900;
                letter-spacing: .1rem;
                color: $accent-color;
                padding-bottom: 1rem;
            }

            &_link {
                color: set-text-color($primary-color);
                font-size: 1.8rem;
                @include transition-ease;

                &:hover {
                    @include hover-color-animation;
                    @include transition-ease;
                }
            }
        }
    }
}