/* SASS variables */
/* SASS mixins */
/* SASS functions */
/* keyframe animations */
@-webkit-keyframes anim-hover-color {
  from {
    color: #e6c79c;
  }
  to {
    color: #6df08c;
  }
}
@keyframes anim-hover-color {
  from {
    color: #e6c79c;
  }
  to {
    color: #6df08c;
  }
}

@-webkit-keyframes anim-hover-color-two {
  from {
    color: #e6c79c;
  }
  to {
    color: #f2f4f3;
  }
}

@keyframes anim-hover-color-two {
  from {
    color: #e6c79c;
  }
  to {
    color: #f2f4f3;
  }
}

/* main page */
.contact {
  overflow: hidden;
  padding: 0 0 2rem;
  /* social icons and footer */
}

.contact_bio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(10, 9, 8, 0.1)), to(#0a0908)), url(../images/self-desert-edit.jpg);
  background: linear-gradient(to right, rgba(10, 9, 8, 0.1), #0a0908), url(../images/self-desert-edit.jpg);
  background-size: cover;
  border-bottom: 2px outset #f2f4f3;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
}

.contact_bio-title {
  color: #e6c79c;
  font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  letter-spacing: .3rem;
  margin: 0 0 2rem;
  text-shadow: 0 0 8px black, 0 0 20px rgba(0, 0, 0, 0.45);
}

.contact_bio-item {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin: 0 0 2rem;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8), 0 0 16px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.contact_body {
  font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .1rem;
  padding: 1vh 0 5vh 0;
}

.contact_body-item {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 2rem auto 0 auto;
  width: 60vw;
}

.contact_body-title {
  color: #e6c79c;
  cursor: pointer;
  letter-spacing: .2rem;
  text-align: left;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact_body-title:hover {
  letter-spacing: .4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact_body-title.open {
  color: #6df08c;
  font-size: 1.2rem;
  letter-spacing: .3rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact_body_list {
  border: inset;
  border-color: #e6c79c;
  border-width: 0;
  color: #0a0908;
  font-size: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact_body_list.open {
  border-color: #e6c79c;
  border-width: .1rem;
  color: #f2f4f3;
  font-size: 1rem;
  padding: .5rem 0 .5rem 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact_body_list-item {
  font-family: Marvel, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: .3rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .social-icons {
  bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  left: .5rem;
  position: fixed;
}

.contact .link_style {
  color: #f2f4f3;
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .link_style:hover {
  font-size: 30px;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-animation-name: anim-hover-color;
          animation-name: anim-hover-color;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  color: #e6c79c;
}

.contact .footer {
  bottom: 0.5rem;
  color: #f2f4f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding: .5rem;
  position: fixed;
  right: .5rem;
  text-align: right;
}

.contact .footer_copyright {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .footer_copyright:hover {
  letter-spacing: .5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .footer_copyright-text {
  font-size: 0rem;
  visibility: hidden;
}

.contact .footer_copyright-year {
  color: #e6c79c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .footer_copyright-year:hover {
  letter-spacing: .2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/*# sourceMappingURL=Contact.css.map */