@import "../config";

.dyn_background {

.panel1{background-image:
    linear-gradient(to right,
    rgba($primary-color, 0.1),
    rgba($primary-color, 0.3)),
    url('./self-desert-p1.jpg');
    background-size: cover;
    @include transition-ease;
}

.panel2{background-image:
    linear-gradient(to right,
    rgba($primary-color, 0.3),
    rgba($primary-color, 0.6)),
    url('./self-desert-p2.jpg');
    background-size: cover;
    border-color: $accent-color;
    border-style: ridge;
    border-width: .1rem;
    @include transition-ease;

    .welcome {
      text-transform: uppercase;
      text-shadow: 0 5px 5px $accent-color;
      font-size: 2rem;
      position: fixed;
        color: $primary-color;
        letter-spacing: .5em;
        @include transition-ease;

        &.open {
          color: $primary-color;
          visibility: hidden;
          transform: translate(-200%);
          @include transition-ease;
        }

    }

    &:hover {
      box-shadow: inset 0 0 0 1px #ffffff;
      cursor: pointer;
      @include transition-ease;

      .welcome {
        color: set-text-color($primary-color);
      cursor: pointer;
      @include transition-ease;
      }
    }
}

.panel3{background-image:
    linear-gradient(to right,
    rgba($primary-color, 0.6),
    rgba($primary-color, 0.8)),
    url('./self-desert-p3.jpg');
    background-size: cover;
    @include transition-ease;
}

.panel4{background-image:
    linear-gradient(to right,
    rgba($primary-color, 0.8),
    rgba($primary-color, 1.0)),
    url('./self-desert-p4.jpg');
    background-size: cover;
    color: $primary-color;
    @include transition-ease;

    .social-icons {
      top: 25vh;
      position: fixed;
      display: flex;
      flex-direction: column;
    }
    
    .link_style {
      color: $primary-color;
      font-size: 2rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      text-shadow: 0 5px 10px $accent-color;
      @include transition-ease;
    
      &:hover {
        color: #ffffff;
          font-size: 2.5em;
      }
    }

    &.open {

      .social-icons {
        transform: translate(100%);
        transition-delay: 2s;
        @include transition-ease;
      }

      .link_style {
        color: set-text-color($primary-color);
        font-size: 1.5rem;
        padding: 5vh 0 5vh;

        &:hover {
          color: $primary-color;
        }
      }
    }
}

  .panels {
    height: 100vh;
    overflow: hidden;
    display: flex;
    @include transition-ease;

    &.open {
      @include transition-ease;
      transition-delay: 1.7s;
      transition-duration: 1s;
    }
  }

  .panel {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    transition:
      font-size 10.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 1s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 10s;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    @include transition-ease;

    &.open {
      border-color: $accent-color;
      transform: translate(-100%);
      height: 100vh;
      border-style: outset;
      border-width: .1rem;
      @include transition-ease;
    }
  }

  @for $i from 1 through 8 {
    .panel:nth-child(#{$i}) {
        transition-delay: ($i * 0.2s) + .1s;
        transition-duration: ($i * 0.2s) + .1s;
    }
  }

  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}