@import '../config';

/* main page */

.home {
  height: 100vh;
  overflow: hidden;
  padding: 0 0.5rem 0 0.5rem;
  position: fixed;

  &-body {
    align-items: center;
    padding: 40vh 0;
    position: fixed;
    text-align: center;
    
    &_clock {
      color: $accent-color;
      font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 0.3rem;
      margin: 1rem;
    }
    
    &_name {
      border-bottom: 2px inset set-text-color($primary-color);
      font-family: Marvel, 'Times New Roman', Times, serif;
      font-size: 5rem;
      margin: 1rem;
      padding: 0 0 1rem;
      
      &-last {
        color: $accent-color;
        font-family: Marvel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: .2rem;
      }
    }
    
    &_profession {
      font-family: Orbitron, Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: .5rem;
      padding-top: 1rem;

      &-conjunction {
        color: $transition-color;
      }
    }
  }

  /* social icons and footer */

  .social-icons {
    bottom: 1rem;
    left: 1rem;
    position: fixed;
  }
  
  .link_style {
    color: set-text-color($primary-color);
    padding: 0.4rem;
    @include transition-ease;
    
    &:hover {
      font-size: 30px;
      @include hover-color-animation;
    }
  }
  
  .footer {
    bottom: 0.5rem;
    color: set-text-color($primary-color);
    font-size: 1rem;
    letter-spacing: .1rem;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    text-align: right;
    
    &_copyright {

      &-year {
        color: $accent-color;
        font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }

}