.Pokedex {
    display: grid;
    gap: 8px;
    grid-template-rows: auto auto 1fr;
}

.Pokedex-experience {
    margin: 0 8px;
}

.Pokedex-cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}