
/* SASS variables */

$primary-color: #0a0908; 
$accent-color: #e6c79c;
$transition-color: #6df08c;

/* SASS mixins */

@mixin hover-color-animation {
  animation-name: anim-hover-color;
  animation-duration: 6s;
  color: $accent-color;
}

@mixin hover-color-animation-two {
  animation-name: anim-hover-color-two;
  animation-duration: 3s;
  color: set-text-color($primary-color);
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin media-md {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

/* SASS functions */

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #0a0908;
  } @else {
    @return #f2f4f3;
  }
}

/* keyframe animations */

@keyframes anim-hover-color {
  from {color: $accent-color};
  to {color: $transition-color};
}

@keyframes anim-hover-color-two {
  from {color: $accent-color};
  to {color: set-text-color($primary-color)};
}
