$primary-color: #0a0908;
$accent-color: #43c59e;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  @mixin secondary-base {
    color: $accent-color;
    font-family: Orbitron, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .3rem;
  }

  @mixin default-layout {
    color: set-text-color($primary-color);
    height: 100vh;
  }

  @mixin default-text-layout {
    font-family: 'Marvel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    justify-content: center;
    height: 100%;
  }

  @mixin hover-color-animation {
    animation-name: anim-menu-btn;
    animation-duration: 6s;
    color: #b4a6ab;
  }

  @mixin transition-ease {
      transition: all 0.5s ease-in-out;
  }

  @function set-text-color($color) {
      @if (lightness($color) > 40%) {
          @return #0a0908;
      } @else {
          @return #f2f4f3;
      }
  }

  @keyframes anim-menu-btn {
    from {color: $accent-color};
    to {color: #b4a6ab};
  }

  @mixin media-md {
    @media screen and (min-width: 700px) {
      @content;
    }
  }

  
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$mobile: 800px;