@import "./config";

@import "./panels/DynamicBackground";
@import "./header/Header";
@import "./home/Home";
@import "./about/About";
@import "./contact/Contact";

@import "./responsive";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  font-family: Marvel, Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  line-height: 1;
  width: 100%;
}