.Pokecard {
    align-items: center;
    background: #f2f2f2;
    border: 1px solid #2f2f2f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}